/* Write your CSS here */
.app-container {
  min-height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.todos-card {
  background-color: #ffffff;
  padding: 24px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
}

.heading {
  color: #000000;
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
}

.todos-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
